@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    width:360px;
    background:linear-gradient(135deg,#F7F7F2,#EEF4F0);
    padding:18px;
}

.container{
    background:#ffffff;
    border-radius:10px;
    padding:20px;
    border:2px solid #E4ECE8;
    box-shadow:0 10px 25px rgba(124,157,150,.12);
}

.header{
    text-align:center;
    margin-bottom:22px;
}

.logo{
    width:85px;
    height:85px;
    margin:auto;
    border-radius:50%;
    background:linear-gradient(135deg,#7C9D96,#A7C4BC);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:46px;
    color:white;
    margin-bottom:15px;
    box-shadow:0 8px 20px rgba(124,157,150,.20);
}

.header h1{
    color:#343b39;
    font-size:24px;
    margin-bottom:6px;
}

.header p{
    color:#6B7280;
    font-size:14px;
}

.card{
    background:#dfdcdc;
    border-radius:10px;
    padding:18px;
    margin-bottom:16px;
    text-align:center;
    border:1px solid #E6ECE9;
    box-shadow:0 6px 18px rgba(124,157,150,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-3px);
    box-shadow:0 12px 24px rgba(124,157,150,.14);
}

.card h3{
    color:#78a398;
    margin-bottom:8px;
    font-size:15px;
}

.card p{
    color:#2f353d;
    font-weight:500;
    word-break:break-word;
}

.card h2{
    color:#7C9D96;
    font-size:34px;
}

.button-group{
    display:flex;
    flex-direction:column;
    gap:14px;
    margin:22px 0;
}

button{
    padding:14px;
    border:none;
    border-radius:12px;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

#replaceBtn{
    background:#5e9c8b;
    color:white;
}

#replaceBtn:hover{
    background:#6E8F88;
    transform:translateY(-2px);
    box-shadow:0 8px 20px rgba(124,157,150,.22);
}

#restoreBtn{
    background:#696f6e;
    color:white;
}

#restoreBtn:hover{
    background:#90B3AA;
    transform:translateY(-2px);
    box-shadow:0 8px 20px rgba(167,196,188,.25);
}

.status-card{
    background:#E9EFEA;
    border-radius:16px;
    padding:18px;
    text-align:center;
    margin-bottom:15px;
    border:1px solid #D8E4DD;
}

.status-card h3{
    color:#5F7F77;
    margin-bottom:8px;
}

#status{
    color:#6BAA75;
    font-weight:600;
}

.footer{
    margin-top:15px;
    padding-top:15px;
    border-top:1px solid #E5E7EB;
    text-align:center;
}

.footer p{
    color:#6B7280;
    font-size:13px;
}

button:active{
    transform:scale(.97);
}

button:disabled{
    background:#D1D5DB;
    cursor:not-allowed;
}

.loading{
    color:#D4A017 !important;
}

.success{
    color:#6BAA75 !important;
}

.error{
    color:#D97777 !important;
}